<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.4/jquery.min.js"></script>
    <title>Document</title>
</head>

<body>
    <h1>Chat Applcation</h1>
    <textarea id="chatlog" cols="100" rows="20"></textarea><br>
    <input type="text" id="chat-message-input" size="100"><br>
    <input type="button" value="send" id="chat-message-submit">
</body>
<script>

    var ws = new WebSocket('ws://127.0.0.1:8000/chat/sc/')
    ws.onopen = function () {
        console.log('websocket conection open')
    }

    ws.onmessage = function (event) {
        const data = JSON.parse(event.data)
        console.log(data.msg)
        document.getElementById('chatlog').innerHTML += data.msg + '\n'
    }
    ws.onclose = function (event) {
        console.log("message close successfully")
    }

    document.getElementById('chat-message-submit').onclick = function (event) {
        const messageInputDom = document.getElementById('chat-message-input')
        const message = messageInputDom.value
        ws.send(JSON.stringify({
            'msg': message
        }))
        messageInputDom.value = ''
    }
</script>

</html>